{% extends 'base.html.twig' %}

{% block title %}Edit Defect{% endblock %}

{% block body %}
    <h1>Edit Defect</h1>

    {{ include('defect/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_defect_index') }}">back to list</a>

    {{ include('defect/_delete_form.html.twig') }}
{% endblock %}
