{% extends 'base.html.twig' %}

{% block title %}
  Defect index
{% endblock %}

{% block body %}
  <h1>Defect Dashboard</h1>

  <div class="hidden-desktop row justify-content-center">
    <div class="col-sm-12 col-lg-4 m-2 d-flex justify-content-center align-items-center">
      <div class="badgeContainer row d-flex justify-content-center align-items-center">
        <div class="col m-2 badgeCurrentWeek d-flex justify-content-center align-items-center text-center">LAST WEEK DEFECTS</div>
        <div class="col m-2 badgeCurrentWeek d-flex justify-content-center align-items-center text-center">{{ numberDefectLastWeek }}</div>
      </div>
    </div>

    <div id="toto" class="col-sm-12 col-lg-6 d-flex justify-content-center align-items-center">
      <div id="canva-container-breakDown">{{ render_chart(chartBreakDown) }}</div>
    </div>
  </div>

  <div class="row p-2">
    <div class="col-12">
      <div class="hidden-mobile" id="canva-container-fullYear">{{ render_chart(chartFullYear) }}</div>
    </div>
  </div>

  <script>
    document.querySelector('#canva-container-fullYear > canvas').style.display = 'inline'
    const timer = 1
    setTimeout(function () {
      if ((timer = 1)) {
        window.location.reload()
        timer = 0
      }
    }, 500)
  </script>
{% endblock %}
