// customize some Bootstrap variables
$primary: darken(#1270c2, 20%);

h1{
    padding:2rem;
}
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

footer{
    padding: 1rem;;
}
.navbar {
    background-color: #484848;
}

body {
    background-color: #27b89b;
}

.homeBriefing {
    height: 600px;
    background-color: #f2f2f2;
    border: solid black 1px;
}

.homeGraphics {
    height: 600px;
    background-color: #f2f2f2;
    border: solid black 1px;
}

img {
    object-fit: fill;
}

@media screen and (min-width: 600px) {
    footer {
        width: 100%;
    }
}
.hidden-desktop{
    display: none !important;
}
@media screen and (max-width: 600px) {
    .imageHome, .homeGraphics,.hidden-mobile {
        display: none !important;
    }
    .badgeCurrentWeekResult, .badgeCurrentWeek{
        width: 50%;
    }

    }

canvas{
    background-color: white;
}

.chartFullYear{
    background-color: #f2f2f2;
}

.badgeCurrentWeekResult, .badgeCurrentWeek{
    min-height: 150px;
 //   min-width: 350px;
    max-width: 350px;
    margin: auto;
}

.badgeCurrentWeek{
    background-color: #bcbcbc;
    font-size: 2rem;
    font-weight: bold;
}

.badgeCurrentWeekResult{
    background-color: #e5e5e5;
    font-size: 2rem;
    font-weight: bolder;
}
.badgeContainer{
    background-color: #f2f2f2;
    min-height: 200px;
    min-width: 350px;
    max-width: 95%;
    margin: auto;
}

#canva-container-fullYear{
    min-width: 350px;
    max-width: 95%;
    margin: auto;
}

#canva-container-breakDown{
    min-height: 500px;
    min-width: 350px;
    max-width: 95%;
    margin: auto;
}
#canva-container-fullYear{
    max-height: 600px;  
}
#canva-container-fullYear > canvas {
    display:inline;
  }

canvas, .badgeContainer{
    border: #484848 3px solid;

}
#content {
    min-height: 65vh; /*adjust to find the one that suits your content*/
}

#buttonNavBar{
    background-color: #e5e5e5;
}

 /* Style all font awesome icons */
 .fa {
    padding: 10px;
    font-size: 15px;
    width: 25px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #6c757d;
    color: white;
    border-radius: 2px;
  }
  
  /* Twitter */
  .fa-linkedin {
    background: #6c757d;
    color: white;
    border-radius: 2px;
  } 