// customize some Bootstrap variables
$primary: darken(#1270c2, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

.navbar {
    background-color: #484848;
}

body {
    background-color: #27b89b;
}

.homeBriefing {
    height: 600px;
    background-color: #f2f2f2;
    border: solid black 1px;
}

.homeGraphics {
    height: 600px;
    background-color: #f2f2f2;
    border: solid black 1px;
}

img {
    object-fit: fill;
}

@media screen and (min-width: 600px) {
    footer {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .imageHome, .homeGraphics {
        display: none !important;
    }
    .badgeCurrentWeekResult, .badgeCurrentWeek, #canva-container-breakDown{
        min-width: 75%;
    }
    }

canvas{
    background-color: white;
}

.chartFullYear{
    background-color: #f2f2f2;
}

.badgeCurrentWeekResult, .badgeCurrentWeek{
    background-color: #f2f2f2;
    min-height: 200px;
    min-width: 350px;
    max-width: 350px;
    margin: auto;
}
#canva-container-fullYear{
    min-height: 200px;
    min-width: 350px;
    max-width: 75%;
    margin: auto;
}

#canva-container-breakDown{
    min-height: 400px;
    min-width: 350px;
    max-width: 75%;
    margin: auto;
}