// customize some Bootstrap variables
$primary: darken(#1270c2, 20%);

h1{
    padding:2rem;
}
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

.navbar {
    background-color: #484848;
}

body {
    background-color: #27b89b;
}

.homeBriefing {
    height: 600px;
    background-color: #f2f2f2;
    border: solid black 1px;
}

.homeGraphics {
    height: 600px;
    background-color: #f2f2f2;
    border: solid black 1px;
}

img {
    object-fit: fill;
}

@media screen and (min-width: 600px) {
    footer {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .imageHome, .homeGraphics,.hidden-mobile {
        display: none !important;
    }
    .badgeCurrentWeekResult, .badgeCurrentWeek{
        width: 50%;
    }

    }

canvas{
    background-color: white;
}

.chartFullYear{
    background-color: #f2f2f2;
}

.badgeCurrentWeekResult, .badgeCurrentWeek{
    min-height: 150px;
 //   min-width: 350px;
    max-width: 350px;
    margin: auto;
}

.badgeCurrentWeek{
    background-color: #bcbcbc;
    font-size: 2rem;
    font-weight: bold;
}

.badgeCurrentWeekResult{
    background-color: #e5e5e5;
    font-size: 2rem;
    font-weight: bolder;
}
.badgeContainer{
    background-color: #f2f2f2;
    min-height: 200px;
    min-width: 350px;
    max-width: 95%;
    margin: auto;
}

#canva-container-fullYear{
    min-height: 200px;
    min-width: 350px;
    max-width: 95%;
    margin: auto;
}

#canva-container-breakDown{
    min-height: 400px;
    min-width: 350px;
    max-width: 95%;
    margin: auto;
}
#canva-container-fullYear{
    max-height: 300px;
}
canvas, .badgeContainer{
    border: #484848 3px solid;
}
